@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/* *RESET */
* {
	box-sizing: border-box;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
/* _________________________________________________________________ */
 /*!   AMELIA WEBSITE _________________________________________START  */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background:#D8D8D6;
    color:#161616;
    font-size: 18px;
    line-height: 29px;
}

.title {
    font-family: 'Architects Daughter', cursive;
    font-size: 32px;
}


/** HEADER */

.header {
    padding:25px 0;
    background: #81A36B;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 50px;

}
.nav a {
    text-decoration: none;
    color: #161616;
    text-transform: uppercase;
    font-size: 24px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.home {
    background:  url(../images/home.svg) no-repeat;
    padding-left: 30px;
    background-position:0 0;
}
.gallery{
    background:  url(../images/gallery.svg) no-repeat;
    padding-left: 30px;
    background-position:0 0;
}
.homework{
    background:  url(../images/arrowdown.svg) no-repeat;
    padding-right: 30px;
    background-position:100% 0;
}

.nav a:hover {
    color:#D8D8D6;
}
.h-works-list > li > a{
    display: block;
    padding: 15px 10px;
    text-align: center;
    background: #81A36B;
    border: 2px solid #000;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
}
.nav > li{
    position: relative;
}
.h-works-list{
    position: absolute;
    left: 0;
    top: 100%;
    /* display: none; */
    padding-top: 25px;
}

.nav > li:hover .h-works-list{
    display: block;
}
.flex-nav{
    position: relative;
}
.flex-nav  a {
    font-family: 'Oswald', sans-serif;
}

.flex-link{
    padding: 15px 10px;
    text-align: center;
    background: #81A36B;
    border: 2px solid #000;

    font-family: 'Oswald', sans-serif;
}
.flex-nav > div {
    display: none;
    position: absolute;
    right:100%;
    top: 0;

}
.flex-nav:hover div {
    display: block;
}
#flex {
    background:  #81A36B url(../images/arrowleft.svg) no-repeat;
    padding-left: 35px;
    background-position:10% 50%;
    
}

/** MAIN  */

/** ORDER */
.order-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-flower{
    width: 540px;
}

.order-title{

    font-size: 62px;
    margin-bottom: 41px;
}
.order-text{
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    gap: 20px;
}

.order-desc  a{
    text-decoration: none;
    color:inherit;
    padding: 20px 34px;
    border-radius: 6px;
    border:1px solid #81A36B;
}
.order-button {
    background-color: #D8D8D6;
}
.order-button:hover{
    background: #81A36B;
}
.help-button:hover{
    background: #81A36B;
}

/** ABOUT */

.about-container{
    padding: 120px 0;
}
.about-box {
    width: 540px;
    margin: 0 auto;
    text-align: center;
}
.about-title {
    margin-bottom: 50px;
}
/** ARROW */

.arrow {
    background: #81A36B;
}

.arrow-container {
    display: flex;
    background: #81A36B;
    padding: 78px 0;
}

.arrow-images {
    display: flex;
    gap: 90px;
}

/** HOW */
.how-container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 120px 0;
}
.how-title {   
 margin-bottom: 50px;
 text-align: center;
}

/** CARDS */

.cards-container{
    padding: 120px 0;
}

.cards-title {
    margin-bottom: 50px;
    text-align: center;
}

.cards-box {
    display: flex;
    gap: 30px;

}
.card {
    background: #81A36B;
    padding: 15px 15px 40px 15px;
    flex: 1 1 30%;
    border-radius: 6px;
}
.card-image {
    display: block;
    margin-bottom: 23px;
    height: 400px;

}
.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-text {
    text-align: center;
}

/** FOOTER */

.footer {   
     background: #81A36B;
}
.footer-container {

    padding: 50px 0;
    text-align: center;
}
.footer-title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 50px;

}

.contacts-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.contacts {
    margin-bottom: 15px;
}
.netw {
    display: flex;
    justify-content: center;
    gap: 20px;

}
.instagram{
    width: 25px;
    display: block;
    height: 24px;
    background:url(../images/media_1.svg) no-repeat;
}
.telegram{
    width: 30px;
    display: block;
    height: 24px;
    background:url(../images/media_2.svg) no-repeat;
}

.viber{
    width: 24px;
    display: block;
    height: 24px;
    background:url(../images/media_3.svg) no-repeat;
}

/*!   AMELIA WEBSITE _________________________________________END  */

/*! INLINE-BLOCK STYLE _____________START*/
.align-top{
    vertical-align: top;
}
.fz-0{
    font-size: 0;
}
.t-container{
    width: 1200px;
    margin: 0 auto;
}
.fz-20{
    font-size: 20px;
}
.i-block{
    display: inline-block;
}
.h-400{
    height: 400px;
}
.h-200{
    height: 200px;
}

.w-800 {
    width: 800px;
}
.bg-color-r{
    background-color: red;
    outline: 2px solid black;
}
.w-400 {
    width: 400px;

}
.bg-color-g{
    background-color:rgb(17, 156, 30);
    outline: 2px solid black;
    }
.h-133{
    height: 133.333px;
}
.bg-color-o{
    background-color: rgb(232, 130, 6);
    outline: 2px solid black;
}
.h-100{
    height: 100px;
}
.bg-color-grey{
    background-color: lightgray;
}
/*! INLINE-BLOCK STYLE _____________END*/

/*! GALLERY______________________START */

.navigation {
    position: fixed;
    left: 0;
    top: calc(50vh - 192.5px);
}
.navigation > div{
    border: 1px solid #000;
    text-align: center;
    background:rgb(92, 164, 187);
}

.navigation > div:hover{
    background-color: rgb(43, 171, 214);
}
.navigation > div:active{
    background-color: rgb(7, 110, 145)
}

.navigation > div > a {
    text-decoration: none;
    color: black;
    padding: 15px 10px;
    display: block;
}

.images-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 30px;
}
.image {
    width: 500px;
    height: 500px;
    border: 1px solid #000;

}
.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-container > div {
    position: relative;
}

.image > p {
    height: 250px;
    background: rgb(212, 212, 212,0.55);
    position: absolute;
    top: 50%;
    margin-top: -125px;
    text-align: center;
    display: none;
}

.image:hover > p {
    display: block;
}

/*! GALLERY_______________END_______ */

/*! TABLE___________ */
table tr td {
    border: 2px solid black;
    border-collapse:collapse;
    font-size: 36px;
    }
    tr td {
        width: 150px;
        height: 100px;
    }
    .table{
        width: 900px;
        height: 600px;
        margin: 100px auto;
    }
    .bg-color-y{
        background-color: rgb(176, 157, 13);
    }
    .bg-color-b{
        background: blue;
    }
    .bg-color-dg{
        background: grey;
    }
/*! TABLE___________END */
/* ! FLOAT______________ */

.float-l{
    float:left;
}
.w-400{
    width: 400px;
}
.container-float{
    width: 1200px; 
    margin: 0 auto;
}
.w-800{
    width: 800px;
}
/* ! FLOAT______________END */
/*! FLEX___________________START */
.d-flex{
    display: flex;
}
/*! FLEX___________________END */

